<% wrap_layout :narrow do %>

  <div class="candidate__card">
    <div class="candidate__card__profile">
      <img src="/images/candidates/headshots/<%= candidate.name %>.jpg" alt="Photo of <%= candidate.name %>">

      <h1><%= candidate.name %></h1>
      <p><%= candidate.position %></p>
    </div>

    <div class="candidate__card__info">
      <h3>Statement</h3>
      <p><%= candidate.statement %></p>

      <% if candidate.experience %>
        <h3>Past experience</h3>
        <ul>
          <% candidate.experience.each do |experience| %>
            <li><%= experience %></li>
          <% end %>
        </ul>
      <% end %>

      <h3>TL;DR</h3>
      <ul>
        <% candidate.platform.each do |point| %>
          <li><%= point %></li>
        <% end %>
      </ul>

      <h3>About me</h3>
      <dl>
        <% if candidate.about.college %>
          <dd>College/Faculty</dd>
          <dt><%= candidate.about.college %></dt>
        <% end %>

        <% if candidate.about.program %>
          <dd>Program of Study</dd>
          <dt><%= candidate.about.program %></dt>
        <% end %>

        <% if candidate.about.year %>
          <dd>Year of Study</dd>
          <dt><%= candidate.about.year %></dt>
        <% end %>

        <% if candidate.about.birthplace %>
          <dd>Place/City of Birth</dd>
          <dt><%= candidate.about.birthplace %></dt>
        <% end %>

        <% if candidate.about.food %>
          <dd>Favourite Food</dd>
          <dt><%= candidate.about.food %></dt>
        <% end %>

        <% if candidate.about.music %>
          <dd>Favourite Band/Music</dd>
          <dt><%= candidate.about.music %></dt>
        <% end %>

        <% if candidate.about.inspiration %>
          <dd>Person you most look up to</dd>
          <dt><%= candidate.about.inspiration %></dt>
        <% end %>

        <% if candidate.about.fact %>
          <dd>Most interesting thing nobody knows about you</dd>
          <dt><%= candidate.about.fact %></dt>
        <% end %>
      </dl>
    </div>
  </div>

  <%= link_to 'See the full team', '/candidates', { class: 'candidate__more' } %>

<% end %>
