<% wrap_layout :narrow do %>

  <div class="candidate__card">
    <div class="candidate__card__profile">
      <img src="/images/candidates/headshots/<%= candidate.name %>.jpg" alt="Photo of <%= candidate.name %>">

      <h1><%= candidate.name %></h1>
      <p><%= candidate.position %></p>
    </div>

    <div class="candidate__card__info">
      <h3>Statement</h3>
      <p><%= candidate.statement %></p>

      <% if candidate.experience %>
        <h3>Past experience</h3>
        <ul>
          <% candidate.experience.each do |experience| %>
            <li><%= experience %></li>
          <% end %>
        </ul>
      <% end %>

      <h3>TL;DR</h3>
      <ul>
        <% candidate.platform.each do |point| %>
          <li><%= point %></li>
        <% end %>
      </ul>

      <% if candidate.about %>
        <h3>About me</h3>
        <dl>
          <% if candidate.about.college %>
            <dt>College/Faculty</dt>
            <dd><%= candidate.about.college %></dd>
          <% end %>

          <% if candidate.about.program %>
            <dt>Program of Study</dt>
            <dd><%= candidate.about.program %></dd>
          <% end %>

          <% if candidate.about.year %>
            <dt>Year of Study</dt>
            <dd><%= candidate.about.year %></dd>
          <% end %>

          <% if candidate.about.birthplace %>
            <dt>Place/City of Birth</dt>
            <dd><%= candidate.about.birthplace %></dd>
          <% end %>

          <% if candidate.about.food %>
            <dt>Favourite Food</dt>
            <dd><%= candidate.about.food %></dd>
          <% end %>

          <% if candidate.about.music %>
            <dt>Favourite Band/Music</dt>
            <dd><%= candidate.about.music %></dd>
          <% end %>

          <% if candidate.about.inspiration %>
            <dt>Person you most look up to</dt>
            <dd><%= candidate.about.inspiration %></dd>
          <% end %>

          <% if candidate.about.fact %>
            <dt>Most interesting thing nobody knows about you</dt>
            <dd><%= candidate.about.fact %></dd>
          <% end %>
        </dl>
      <% end %>
    </div>
  </div>

  <%= link_to 'See the full team', '/candidates', { class: 'candidate__more' } %>

<% end %>
