---
layout: layout
---

<section class="home__hero">
  <p class="home__hero__text">Say hello to a better tomorrow.</p>
</section>

<section class="home__section">
  <div class="container__narrow">
    <h1>Our Commitments to You</h1>

    <ul class="tiles">
      <% data.platform.short.each do |platform_point| %>
        <li><%= platform_point %></li>
      <% end %>
    </ul>

    <%= link_to 'Learn more', '/platform', { class: 'home__section__more' } %>
  </div>
</section>

<section class="home__section">
  <div class="container__narrow">
    <h1>Your Executive Team</h1>

    <ul class="tiles home__candidates">
      <% data.candidates.execs.each do |candidate| %>
        <li class="candidate">
          <a href="/candidates/<%= candidate[:name].parameterize %>.html">
            <img src="/images/candidates/headshots/<%= candidate.name %>.jpg" alt="Photo of <%= candidate.name %>">
            <p class="candidate__name"><%= candidate.name %></p>
            <p class="candidate__position"><%= candidate.position %></p>
          </a>
        </li>
      <% end %>
    </ul>

    <%= link_to 'See the full team', '/candidates', { class: 'home__section__more' } %>
  </div>
</section>

<section class="home__section home__email">
  <div class="container__narrow">
    <h1>Subscribe to our mailing list</h1>

    <form action="//hellouoft.us13.list-manage.com/subscribe/post?u=de2b85ed9f02f42a936c2223c&amp;id=dac845bea3" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-groups">
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address: <span class="asterisk">*</span></label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>

          <div class="mc-field-group">
            <label for="mce-FNAME">First Name:</label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
          </div>

          <div class="mc-field-group">
            <label for="mce-LNAME">Last Name:</label>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
        </div>

        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>

        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>

        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_de2b85ed9f02f42a936c2223c_dac845bea3" tabindex="-1" value="">
        </div>

        <input type="submit" value="Subscribe" name="subscribe" class="home__section__more">
    </form>
  </div>
</section>

<section class="home__section home__vote">
  <div class="container__narrow">
    <h1>Go Vote!</h1>
    <p class="home__vote__action">Voting takes place on <strong>March 22 - 24</strong> and it's easy!</p>

    <h3>Online</h3>
    <p>Vote at <a href="https://utsu.simplyvoting.com/">utsu.simplyvoting.com</a> from March 22 at midnight until March 24 at 6:30pm.</p>

    <h3>In person</h3>
    <p>Vote at any of the following polling station from 9am until 6:30pm each voting day:</p>
    <p><strong>St. George Campus</strong>: Bahen Centre, Athletic Centre, Goldring Athletic Centre, or Kelly Library</p>
    <p><strong>UTM Campus</strong>: Instructional Building, or Davis Building</p>
  </div>
</section>
